body
{
	background-image:url("../img/fond.png");
	font-family : verdana, sans-serif;
}

#header
{
	width:950px;
	margin:auto;
}

#header .titre
{
	font-family: verdana, cursive;
	font-weight:450;
	font-size:5em;
	text-align:center;
}

#header .titre a
{
	color: black;
	text-decoration:none;
}

#header .menu ul
{
	text-align : center;
}

#header .menu ul li{
	display:inline-block;
	list-style:none;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #eee;
	padding: 5px;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
	font-size: 20px;
	text-decoration : none ;
	background-color:#ddd;
	-webkit-transition: background-color;
	-webkit-transition:0.5s;
	-moz-transition: background-color;
	-webkit-transition:0.5s;
	-ms-transition: background-colors;
	-webkit-transition:0.5s;
}

#header .menu ul li:hover
{
	background-color:#999;
}

#header .menu ul li a
{
	text-decoration:none;
	color:#88f;
}

#header .menu ul li:hover a
{
	color:#22f;
}

#content
{
	height: 680px;
	width:100%;
	margin:auto;
	margin-bottom:35px;
	border: 1px solid #bbb;
	display: inline-block;
	/* background-color:purple; */
}

#form-graph
{
	width: 600px;
	height: 400px;
	float:left;
	display: block;
}

#form-graph legend
{
	font-weight:100;
	font-weight: bold;
}

#form-sensor
{
	/* background-color: yellow; */
	background-color: #E9E9E9;
	display: inline-block;
	/* border: 3px solid black; */
	width: 600px;
}

#form-date
{
	/* background-color: green; */
	width: 600px;
	background-color: #E9E9E9;
	min-height: 50px;
}
.radiobutton1
{
	float: left;
	width: 200px;
	/* background-color: pink; */
}

.radiobutton2
{
	/* background-color: grey; */
}

.radiobutton3
{
	/* background-color: maroon; */
}

#content>#graph
{
	width:400px;
	/* background-color: blue; */
}
