body
{
	/*background-image:url("../img/fond.png");*/
	background-color: #353535;
	font-family : verdana, sans-serif;
}

#header
{
	width:100%;
	margin:auto;
	background-color:red;
}

#header .titre
{
	font-family: verdana, cursive;
	font-weight:450;
	font-size:5em;
	text-align:center;
	
}

#header .titre a
{
	color: black;
	text-decoration:none;
}

#content .menu ul
{
	margin-bottom: 15px;
	text-align : center;
}

#content .menu ul li{
	display:inline-block;
	list-style:none;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #eee;
	padding: 5px;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
	font-size: 20px;
	text-decoration : none ;
	background-color:#ddd;
	-webkit-transition: background-color;
	-webkit-transition:0.2s;
	-moz-transition: background-color;
	-webkit-transition:0.2s;
	-ms-transition: background-colors;
	-webkit-transition:0.2s;
}

#content .menu ul li:hover
{
	background-color:#ddd;
}

#content .menu ul li a
{
	text-decoration:none;
	color:black;
}

#content .menu ul li:hover a
{
	color:#555;
}

#content
{
	height: 680px;
	width:100%;
	margin:auto;
	margin-bottom:35px;
	border: 1px solid #bbb;
	display: inline;
	/* background-color:purple; */
}

#form-graph
{
	width: 600px;
	height: 400px;
	float:left;
	padding-top:50px;
	display: inline;
}

#form-graph legend
{
	font-weight:100;
	font-weight: bold;
	border-style:solid;
	border-color:444;
	border-width:1px;
	background-color:#E9E9E9;
}

#form-sensor
{
	/* background-color: yellow; */
	background-color: #E9E9E9;
	display: inline-block;
	/* border: 3px solid black; */
	width: 600px;
	margin-top:10px;
}

#form-date
{
	/* background-color: green; */
	width: 600px;
	background-color: #E9E9E9;
	min-height: 50px;
}
.radiobutton1
{
	float: left;
	width: 200px;
	/* background-color: pink; */
}

#graph
{
	float: left;
	padding-left: 80px;
	display: inline;
}

#valider
{
	font-size: 1em;
	width:150px;
	height:30px;
	color:black;
	font-weight:bold;
	border-radius:5px;
	margin-left:220px;
	margin-top: 15px;
}
