body{
	font-family : arial, sans-serif;
}

#header{
	width: 1250px;
	margin: auto;
}

#header .titre{
	font-family: 'Arial', cursive;
	font-weight:600;
	font-size:6em;
	text-align:center;
	width: 1250px;
	background-color:#88f;
}

#header .titre a{
	color: white;
	text-decoration:none;
}

#header .menu ul{
	background-color: #eee;
	display:block;
    width: 1250px;
    	padding: 0;
	margin-left:auto;
	margin-right:auto;
	border-radius: 4px;
}

#header .menu ul li{
	list-style:none;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #eee;
	padding: 5px;
	border-radius: 4px;
	color : #eee;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	font-size: auto;
	background-color: #88f; 
	text-align : center;
	text-decoration : none ;
	-webkit-transition: background-color;
	-webkit-transition:0.5s;
	-moz-transition: background-color;
	-webkit-transition:0.5s;
	-ms-transition: background-colors;
	-webkit-transition:0.5s;
	 display: table-cell;
	 width:625px;
}

#header .menu ul li:hover{
	background-color:white;
}

#header .menu ul li a{
	text-decoration:none;
	color:white;
}

#header .menu ul li:hover a{
	color:#88f;
}

#content{
	width:1250px;
	margin:auto;
	border: 1px solid #bbb;
	background-color:#EEE;
	margin-bottom:35px;
	border: 1px solid #bbb;
	text-align: left;
	box-shadow: 6px 6px 0px black;
}
	
#content2{
	width:1250px;
	margin:auto;
	border: 1px solid #bbb;
	margin-bottom:35px;
	border: 1px solid #bbb;
	text-align: left;
	box-shadow: -2px 0px 2px black;
}
.intro{
	width:1150px;
	display:inline-block;
	text-align: left;
}

.info img{
	padding:6px;
	float:left;
	max-width: 50%;
	height: 575px;
	border: left;
	margin-left: 8px;
}

#content > div > div.info.texte > p:nth-child(2)
{	
	line-height: 20px;
	text-align: justify;
	
}
#content > div > div.info.texte > p:nth-child(5)
{
	margin-right:  5px;

}
#content .intro h2{
	font-size: 47px;
	font-family: 'arial', cursive ;
	margin: 10px;
}

#footer{
	position:fixed;
	bottom:0px;
	left:0px;
	border-top:1px solid #bbb;
	background-color:#fff;
	height:25px;
	width:100%;
	line-height:25px;
}

#footer .left{
	width:950px;
	margin:auto;
}

#footer .right{
	float:right;
}


#content h1
{
	font-family: 'arial', cursive ;
	font-size : 55px ;
}

#content h2
{
	font-family: 'arial', cursive ;
	font-size : 35px ;
	color: #88f;
	text-decoration:none;
}

#content h3
{
	font-family: 'arial', cursive ;
	font-size : 20px ;
	color: #88f;
	text-align: left;
	margin-bottom: auto;
}


#graph
{
	margin: auto;

}


#valider
{
	font-size: 1em;
	width:150px;
	height:30px;
	color:black;
	font-weight:bold;
	border-radius:5px;
	margin-left:220px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color:#88f;
	color:white;
}



#form-graph
{
	width:650px;
	background-color:#F8F8F8;
	border: 1px solid #bbb;
	margin: auto;
	margin-top: 15px;
}

#form-graph legend
{
	font-weight:100;
	font-weight: bold;
	border-style:solid;
	border-color:444;
	border-width:1px;
	background-color:#E9E9E9;
	padding:2px;
}


#form-sensor
{
	/* background-color: yellow; */
	background-color: #E9E9E9;
	display: inline-block;
	/* border: 3px solid black; */
	width: 600px;
	margin-top:10px;
	margin-left: 11px;
}

#form-date
{
	/* background-color: green; */
	width: 600px;
	background-color: #E9E9E9;
	min-height: 50px;
	margin-left: 11px;
}
